services:
  app:
    build: .
    container_name: applications_web
    command: >
      sh -c "alembic upgrade head &&
      uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
    volumes:
      - ./app:/app/app
    ports:
      - "8000:8000"
    environment:
      - DB_HOST=db
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    env_file:
      - .env
    depends_on:
      kafka:
        condition: service_healthy
      db:
        condition: service_started

    restart: unless-stopped
    networks:
      - applications_network

  db:
    image: postgres:17-alpine
    container_name: applications_db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped
    networks:
      - applications_network

  kafka:
    image: confluentinc/cp-kafka:8.0.0
    container_name: applications_kafka
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_BROKER_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    volumes:
      - kafka_data:/var/lib/kafka/data
    ports:
      - "9092:9092"
      - "9093:9093"
    healthcheck:
      test:
        [
          "CMD",
          "kafka-topics",
          "--bootstrap-server",
          "localhost:9092",
          "--list",
        ]
      interval: 10s
      retries: 12
    restart: unless-stopped
    networks:
      - applications_network

  adminer:
    image: adminer
    container_name: applications_adminer
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - applications_network

volumes:
  postgres_data:
  kafka_data:

networks:
  applications_network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/16
